import /init.recovery.microtrust.rc

on init
    # Pembuatan Direktori Inti & Temp
    mkdir /tmp 0777 root root
    restorecon /tmp

    # CRITICAL FIX: Mount cgroups komplit untuk Android 12 HAL & Keystore 2
    mkdir /dev/cpuset 0750 root system
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset/foreground 0750 root system
    mkdir /dev/cpuset/background 0750 root system
    mkdir /dev/cpuset/system-background 0750 root system
    mkdir /dev/cpuset/top-app 0750 root system
    write /dev/cpuset/foreground/tasks 1
    write /dev/cpuset/background/tasks 1
    write /dev/cpuset/system-background/tasks 1

    mkdir /dev/cg2_bpf 0750 root system
    mount cgroup2 none /dev/cg2_bpf nodev noexec nosuid

    # USB Configurationfs
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.controller musb-hdrc
    setprop ro.boot.usbcontroller musb-hdrc
    
    # Ekspor Jalur Pustaka Dinamis (Wajib Menyertakan /sbin)
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/system/lib:/vendor/lib:/sbin

on fs
    write /sys/class/udc/musb-hdrc/device/cmode 1

    # Jalankan Layanan IPC Binder Utama (Esensial untuk Dekripsi)
    start servicemanager
    start hwservicemanager
    start vndservicemanager

on post-fs
    # Tautan Simbolik Preloader (Khas Chipset MediaTek MT6765)
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on boot
    # Perizinan Input Sentuh (Touchscreen Driver)
    chmod 0666 /dev/input/event0
    chmod 0666 /dev/input/event1
    chmod 0666 /dev/input/event2
    chmod 0666 /dev/input/event3
    chmod 0666 /dev/input/event4
    chmod 0666 /dev/input/event5
    chown root root /dev/input/event0
    chown root root /dev/input/event1
    chown root root /dev/input/event2
    chown root root /dev/input/event3
    chown root root /dev/input/event4
    chown root root /dev/input/event5

on post-fs-data
    # Nyalakan Logging Sistem Pemulihan
    start logd

# TRIGGER TRIGGER DEKRIPSI SINKRONISASI
on property:init.svc.hwservicemanager=running
    start keystore2

# DEFINISI CORE SERVICES (Sesuai Standar Ramdisk Base Android 12)

service servicemanager /system/bin/servicemanager
    class core
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service logd /system/bin/logd
    class core
    user logd
    group logd system package_info readproc
    capabilities SYSLOG AUDIT_CONTROL
    priority 10
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:logd:s0

service logcat /system/bin/logcat -b all -v threadtime -f /tmp/logcat.txt
    class boot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

# Vold didefinisikan agar siap dipanggil oleh sistem internal OrangeFox
service vold /system/bin/vold
    class core
    user root
    group root mount reserved_disk
    disabled
    seclabel u:r:vold:s0

# CRITICAL ANDROID 12 DECRYPTION COMPONENT: Keystore 2.0 Daemon
service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class main
    user root
    group root readproc log
    writepid /dev/cpuset/foreground/tasks
    disabled
    seclabel u:r:recovery:s0
