import /init.recovery.microtrust.rc

on init
    # Pembuatan Direktori Inti & Temp
    mkdir /tmp 0777 root root
    restorecon /tmp

    # CRITICAL FIX ANDROID 12: Struktur Cgroups & Cpuset murni
    mkdir /dev/cpuset 0750 root system
    mount cgroup none /dev/cpuset cpuset
    mkdir /dev/cpuset/foreground 0750 root system
    mkdir /dev/cpuset/background 0750 root system
    mkdir /dev/cpuset/system-background 0750 root system
    mkdir /dev/cpuset/top-app 0750 root system
    write /dev/cpuset/foreground/tasks 1
    write /dev/cpuset/background/tasks 1
    write /dev/cpuset/system-background/tasks 1

    mkdir /dev/cg2_bpf 0750 root system
    mount cgroup2 none /dev/cg2_bpf nodev noexec nosuid

    # USB Configurationfs
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.controller musb-hdrc
    setprop ro.boot.usbcontroller musb-hdrc
    
    # Ekspor Jalur Pustaka Dinamis (Wajib Menyertakan /sbin)
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/system/lib:/vendor/lib:/sbin

on fs
    write /sys/class/udc/musb-hdrc/device/cmode 1

    # Jalankan Tiga Pilar Binder Serentak dengan Izin Sinkron (UID 1000)
    start servicemanager
    start hwservicemanager
    start vndservicemanager

on post-fs
    # Tautan Simbolik Preloader (Khas Chipset MediaTek MT6765)
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Mengunci perizinan root file system demi kelancaran SELinux
    mount rootfs rootfs / ro remount

on boot
    # Perizinan Input Sentuh (Touchscreen Driver)
    chmod 0666 /dev/input/event0
    chmod 0666 /dev/input/event1
    chmod 0666 /dev/input/event2
    chmod 0666 /dev/input/event3
    chmod 0666 /dev/input/event4
    chmod 0666 /dev/input/event5

on post-fs-data
    start logd

# MATRIKS STRATEGI DAN RANTAI PEMICU DEKRIPSI (DOMINO EFFECT)

# 1. Begitu Keymaster hardware MTK lu running, panggil satpam pencari kunci
on property:init.svc.vendor.keymaster-4-0-beanpod=running
    start wait_for_keymaster

# 2. Begitu wait_for_keymaster sukses konek ke TEE (status berubah jadi stopped),
#    Baru nyalakan brankas Keystore2 dan Gatekeeperd serentak!
on property:init.svc.wait_for_keymaster=stopped
    start keystore2
    start gatekeeperd

# RECOVERY OPTIMIZED CORE SERVICES (DIADAPTASI DARI STOCK DATA)

service servicemanager /system/bin/servicemanager
    class core
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    class siginallog
    user 1000
    group 1000 readproc
    critical
    onrestart setprop hwservicemanager.ready false
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    class core
    user 1000
    group 1000 readproc
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service logd /system/bin/logd
    class core
    user logd
    group logd system package_info readproc
    capabilities SYSLOG AUDIT_CONTROL
    priority 10
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:logd:s0

# Vold disempurnakan dengan argumen konteks blkid & fsck murni bawaan device lu!
service vold /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    class core
    ioprio be 2
    writepid /dev/cpuset/foreground/tasks
    shutdown critical
    group root reserved_disk
    disabled
    seclabel u:r:vold:s0

# Gatekeeperd dioptimalkan memakai UID/GID 1000 + grup drmrpc pabrikan
service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    class main
    user 1000
    group 1000 drmrpc
    writepid /dev/cpuset/foreground/tasks
    disabled
    seclabel u:r:recovery:s0

# Satpam pelindung timing agar keystore2 tidak start prematur
service wait_for_keymaster /system/bin/wait_for_keymaster
    class main
    user 1000
    group 1000 system
    priority -20
    ioprio rt 0
    disabled
    oneshot
    seclabel u:r:recovery:s0

# Keystore2 disuntik grup 'drmrpc, readproc, log' murni hasil bedah stock rom lu!
service keystore2 /system/bin/keystore2 /data/misc/keystore
    class main
    user 1000
    group 1000 drmrpc readproc log
    writepid /dev/cpuset/foreground/tasks
    disabled
    seclabel u:r:recovery:s0
